@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.one h1 {
  font-family: 'Poppins', sans-serif;
  position: relative;
  color: #333;
  font-size: 3em;
  margin: 0;
  line-height: 1;
}

body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6495ED;
}

.form-select{
    border-radius: 5px;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    overflow: hidden;
}