<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="../static/index_style.css">

    <title>Horoscopes</title>
</head>

<body>
<header>
    <div>
    <a class="one" href="/"><h1>Гороскопы</h1></a>
    <form method="post">
        <div class="container">
            <div class="col-6 d-flex flex-column gap-1">

                {{ form.zodiac_sign(class_="select-form") }}
                {{ form.date(class_="select-form") }}

            </div>


            <div class="input-field button">
                {{ form.submit_btn(type="submit", class_="btn-primary") }}
            </div>
        </div>
    </form>
        {% block content %} {% endblock %}
    </div>
</header>
